{{ .Page.Store.Set "hasSwiperShortcode" true }}
{{ $id := .Get "id" | default (printf "swiper-%s" (now.Format "20060102150405")) }}
{{ $pagination := .Get "pagination" | default false }} 
{{ $loop := .Get "loop" | default false }} 
{{ $autoplay := .Get "autoplay" | default false }}

<div class="swiper-container {{ $id }}">
    <div class="swiper {{ $id }}-mySwiper">
        <div class="swiper-wrapper">
            {{ .Inner | safeHTML }}
        </div>
        {{ if $pagination }}
        <div class="swiper-pagination"></div>
        {{ end }}
    </div>
</div>

<script type="module">
    window.initSwiper && window.initSwiper({
        id: '{{ $id }}',
        loop: {{ $loop }},
        autoplay: {{ $autoplay }},
        pagination: {{ $pagination }},
    });
</script>