{{ .Page.Store.Set "hasVideoShortcode" true }}
{{- $src := .Get 0 | default "" -}}
{{- $posterPath := .Get 1 | default "" -}}

{{- $posterURL := "" -}}
{{- if ne $posterPath "" -}}
  {{- $posterResource := .Page.Resources.GetMatch $posterPath -}}
  {{- if not $posterResource -}}
    {{- $posterResource = .Page.Resources.GetMatch (printf "**/%s" (path.Base $posterPath)) -}}
  {{- end -}}
  {{- with $posterResource -}}
    {{- $mediaType := .MediaType.SubType -}}
    {{- if and (ne $mediaType "svg+xml") (ne $mediaType "gif") -}}
      {{- $processed := . | images.Filter (images.Process "webp") -}}
      {{- $posterURL = $processed.RelPermalink -}}
    {{- else -}}
      {{- $posterURL = .RelPermalink -}}
    {{- end -}}
  {{- else -}}
    {{- $posterURL = $posterPath -}}
  {{- end -}}
{{- end -}}

<video 
  class="plyr-video"
  playsinline 
  controls 
  {{ if ne $posterURL "" }}data-poster="{{ $posterURL }}"{{ end }}
  loop 
  muted
>
  <source src="{{ $src }}" type="video/mp4">
  {{- with .Get 2 }}<source src="{{ . }}" type="video/webm">{{ end -}}
  <p>{{ i18n "video.not_supported" }}</p>
</video>