{{ .Page.Store.Set "hasVideoShortcode" true }}
{{- $src := .Get 0 | default "" -}}
{{- $posterPath := .Get 1 | default "" -}}

{{- $posterURL := "" -}}
{{- if ne $posterPath "" -}}
  {{- $posterResource := .Page.Resources.GetMatch $posterPath -}}
  {{- if not $posterResource -}}
    {{- $posterResource = .Page.Resources.GetMatch (printf "**/%s" (path.Base $posterPath)) -}}
  {{- end -}}
  {{- with $posterResource -}}
    {{- $mediaType := .MediaType.SubType -}}
    {{- if and (ne $mediaType "svg+xml") (ne $mediaType "gif") -}}
      {{- $processed := . | images.Filter (images.Process "webp") -}}
      {{- $posterURL = $processed.RelPermalink -}}
    {{- else -}}
      {{- $posterURL = .RelPermalink -}}
    {{- end -}}
  {{- else -}}
    {{- $posterURL = $posterPath -}}
  {{- end -}}
{{- end -}}

<media-player
  src="{{ $src }}"
  {{ if ne $posterURL "" }}poster="{{ $posterURL }}"{{ end }}
  playsinline
  loop
  muted
  crossorigin
  class="vidstack-player"
>
  <media-provider>
    <source src="{{ $src }}" type="video/mp4" />
    {{- with .Get 2 }}
    <source src="{{ . }}" type="video/webm" />
    {{ end -}}
  </media-provider>
  <media-video-layout></media-video-layout>
</media-player>