{{ if site.Config.Services.Disqus.Shortname }}
<article>
  {{ partial "comments/disqus.html" (dict "Context" . "Identifier" .RelPermalink) }}
</article>
{{ end }}

{{ if site.Params.giscus.enable }}
<template x-if="['localhost', '127.0.0.1'].indexOf(window.location.hostname) == -1">
  <article>
    <div class="giscus" id="giscus-container"></div>
    <script>
      (function() {
        var script = document.createElement('script');
        script.src = 'https://giscus.app/client.js';
        script.setAttribute('data-repo', '{{ site.Params.giscus.repo }}');
        script.setAttribute('data-repo-id', '{{ site.Params.giscus.repoId }}');
        script.setAttribute('data-category', '{{ site.Params.giscus.category }}');
        script.setAttribute('data-category-id', '{{ site.Params.giscus.categoryId }}');
        script.setAttribute('data-mapping', '{{ site.Params.giscus.mapping | default "pathname" }}');
        script.setAttribute('data-strict', '{{ if site.Params.giscus.strict }}1{{ else }}0{{ end }}');
        script.setAttribute('data-reactions-enabled', '{{ if site.Params.giscus.reactionsEnabled }}1{{ else }}0{{ end }}');
        script.setAttribute('data-emit-metadata', '0');
        script.setAttribute('data-input-position', '{{ site.Params.giscus.inputPosition | default "top" }}');
        script.setAttribute('data-theme', 'https://0x69.ru/css/giscus-dim.css');
        script.setAttribute('data-lang', '{{ site.Params.giscus.lang | default "ru" }}');
        script.setAttribute('data-loading', '{{ site.Params.giscus.loading | default "lazy" }}');
        script.crossOrigin = 'anonymous';
        script.async = true;
        document.getElementById('giscus-container').appendChild(script);
      })();
    </script>
  </article>
</template>
{{ end }}

{{ if site.Params.valine }}
<article>
{{ if fileExists "layouts/partials/comments/valine.html" }}
  {{ partialCached "comments/valine.html" . }}
{{ else }}
  <div id="vcomments"></div>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '{{ site.Params.LEANCLOUD_APP_ID }}',
      appKey: '{{ site.Params.LEANCLOUD_APP_KEY }}'
    })
  </script>
{{ end }}
</article>
{{ end }}

{{ if site.Params.waline }}
<article>
{{ if fileExists "layouts/partials/comments/waline.html" }}
  {{ partialCached "comments/waline.html" . }}
{{ else }}
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({
      el: '#waline',
      dark: 'html.dark',
      serverURL: {{ site.Params.walineServer }},
    });
  </script>
{{ end }}
</article>
{{ end }}

{{ if site.Params.commentsApp }}
<article class="telegram_comments">
{{ partial "comments/commentsApp.html" . }}
</article>
{{ end }}

{{ if site.Params.telegramComments }}
<article class="telegram_comments">
{{ partial "comments/telegramComments.html" .Params.telegram_post_link }}
</article>
{{ end }}