{{ define "title" }}{{ .Title }}{{ end }}

{{ define "css" }}

{{ if site.Params.SyntaxHighlighting }}
<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/{{site.Params.SyntaxHighlightingThemeDark}}.min.css" data-syntax-highlight="true" id="syntax-theme">
<style>
  pre {
   border-radius: 6px;
  }
</style>
{{ else }}
<style>
  pre {
    padding: 1em;
    overflow: auto;
  }
</style>
{{ end }}

{{ if .Page.Store.Get "hasVideoShortcode" }}
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
{{ end }}

{{ partialCached "comments/commentSystemHeads.html" . }}

{{ end }}

{{ define "main" }}
<div class="lg:grid lg:grid-cols-4 gap-4 mt-4 px-4">
  <div class="hidden lg:block"></div>

  <div class="lg:col-span-2">
    <article class="mx-auto prose prose-quoteless dark:prose-invert" id="dream-single-post-main" itemscope itemtype="http://schema.org/Article">
      {{ template "_internal/schema.html" . }}

      <header>
        <h1 itemprop="headline">{{ .Title }}</h1>
        <p class="text-sm">
          {{ if site.Params.Experimental.jsDate }}
            <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
          {{ else }}
            {{ .Date | time.Format "Monday, Jan 2, 2006" }}
          {{ end }}

          | <span>{{ .ReadingTime }}{{ T "minuteRead" .ReadingTime }}</span>

          {{ if ne .Params.nolastmod true }}
          | <span>{{ T "updatedAt" }}
            {{ if site.Params.Experimental.jsDate }}
              <span data-format="luxon">{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}</span>
            {{ else }}
              {{ .Lastmod | time.Format "Monday, Jan 2, 2006" }}
            {{ end }}</span>
          {{ end }}
        </p>

		{{- with .Params.categories }}
		<div class="categories mt-4 mb-4">
		  <div class="flex items-center gap-2">
			<ion-icon 
			  class="text-lg opacity-80 hover:text-primary-content transition-colors"
			  name="grid"
			  aria-hidden="true"
			></ion-icon>
			
			{{- $base := path.Join "categories" | relLangURL | printf "%s/" }}
			{{- range $category := . }}
			  <a
				href="{{ $base }}{{ $category | anchorize }}/"
				class="badge no-underline hover:badge-primary transition-all duration-200"
				rel="category"
				aria-label="{{ $category }}"
				data-category="{{ $category | lower }}"
			  >
				{{- $category | strings.FirstUpper -}}
			  </a>
			{{- end }}
		  </div>
		</div>
		{{- end }}

        <div class="flex justify-between">
          {{ partial "author.html" (dict "Params" .Params "template" "single") }}

          {{ partial "share.html" . }}
        </div>
      </header>

      <section id="dream-single-post-content" itemprop="articleBody">
        {{ if and .Params.Cover site.Params.showSummaryCoverInPost }}
        <img src="{{ (printf "%s/%s" $.Page.RelPermalink .Params.Cover) | absURL }}" alt="{{ .Title }}"/>
        {{ end }}
		
		{{ if eq .Section "portfolio" }}
		{{ partial "portfolio/toolsUsed.html" . }}
		{{ end }}
		
		{{ if .IsTranslated }}
		<blockquote class="dream-alert tip">
		  <p class="heading">
			<ion-icon class="group-hover:text-primary-content text-xl md hydrated" name="language" role="img"></ion-icon>
			{{ i18n "post_available_in.text" }}
			{{ range $index, $translation := .Translations }}
			  {{ if $index }}, {{ end }}
			  <a href="{{ $translation.Permalink }}" 
				 class="badge h-6 no-underline hover:badge-primary mr-2"
				 rel="noopener noreferrer">
				{{ $translation.Language.LanguageName }}
			  </a>
			{{ end }}
		  </p>
		</blockquote>
		{{ end }}

        {{ .Content | emojify }}
      </section>

	{{- with .Params.tags }}
	  <div class="tags mt-4 flex flex-wrap gap-2">
	  <ion-icon name="pricetags" class="text-lg opacity-75 mr-1"></ion-icon>
		{{- $base := path.Join "tags" | relLangURL }}
		{{- range $index, $tag := . }}
		  <a 
			href="{{ $base }}/{{ $tag | anchorize }}/" 
			class="badge no-underline hover:badge-primary transition-colors duration-200"
			rel="tag"
			aria-label="{{ $tag }}"
			data-tag="{{ $tag | lower }}"
		  >
			{{- $tag -}}
		  </a>
		{{- end }}
	  </div>
	{{- end }}

      {{ if site.Params.showPrevNextPost }}
      <div class="divider"></div>
      <div class="flex flex-col md:flex-row justify-between gap-4 py-4">
        {{ with .NextInSection }}
        <a class="group btn btn-outline" href="{{ .RelPermalink }}" title="{{ .Title }}">
          <ion-icon name="chevron-back"></ion-icon>
          <div class="inline-flex flex-col items-start">
            <span class="text-base-content/60 group-hover:text-neutral-content/60 text-xs font-normal">{{ T "prevPage" }}</span>
            <span class="max-w-48 truncate">{{ .LinkTitle }}</span>
          </div>
        </a>
        {{ else }}
        <div></div>
        {{ end }}

        {{ with .PrevInSection }}
        <a class="group btn btn-outline" href="{{ .RelPermalink }}" title="{{ .Title }}">
          <div class="inline-flex flex-col items-end">
            <span class="text-base-content/60 group-hover:text-neutral-content/60 text-xs font-normal">{{ T "nextPage" }}</span>
            <span class="max-w-48 truncate">{{ .LinkTitle }}</span>
          </div>
          <ion-icon name="chevron-forward"></ion-icon>
        </a>
        {{ else }}
        <div></div>
        {{ end }}
      </div>
      {{ end }}

      {{ if or site.Config.Services.Disqus.Shortname site.Params.utterancesRepo site.Params.valine site.Params.waline site.Params.commentsApp site.Params.telegramComments }}

      <section class="space-y-4">
        {{ partialCached "comments/commentSystems.html" . .RelPermalink }}
      </section>
      {{ end }}
    </article>
  </div>

  <div class="hidden lg:flex lg:flex-col lg:items-end">
    {{ if fileExists "layouts/partials/adsense.html" }}
    <div class="dream-adsense">
      {{ partialCached "adsense.html" . }}
    </div>
    {{ end }}

    {{ if site.Params.showTableOfContents }}
      {{ .TableOfContents }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "js" }}

	{{ if .Page.Store.Get "hasVideoShortcode" }}
	<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
	<script>
	  document.addEventListener('DOMContentLoaded', () => {
		const players = Plyr.setup('.plyr-video');
	  });
	</script>
	{{ end }}

	{{ if site.Params.Experimental.jsDate }}
	{{ partial "luxon.html" . }}
	{{ end }}

{{ if site.Params.SyntaxHighlighting }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
{{- if .Site.Params.SyntaxHighlightingLanguages -}}
  {{- range .Site.Params.SyntaxHighlightingLanguages -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/{{ . }}.min.js"></script>
  {{- end -}}
{{- end -}}
<script>
  hljs.highlightAll();
  hljs.addPlugin(new CopyButtonPlugin());

  document.addEventListener('alpine:initialized', () => {
    // Определяем темы подсветки синтаксиса как глобальные переменные
    window.customSyntaxHighlighting = {
        dark: '{{ .Site.Params.SyntaxHighlightingThemeDark }}',
        light: '{{ .Site.Params.SyntaxHighlightingThemeLight }}'
    };

    // Функция для обновления темы подсветки синтаксиса
    const updateSyntaxTheme = () => {
        try {
            // Получаем текущую тему (темная или светлая)
            const isDark = Alpine.store('darkMode').isDark();
            const currentTheme = isDark ? 
                window.customSyntaxHighlighting.dark : 
                window.customSyntaxHighlighting.light;

            // Получаем элемент <link> с атрибутом data-syntax-highlight
            let link = document.querySelector('link[data-syntax-highlight]');
            if (link) {
                // Получаем текущий URL из атрибута href
                const currentHref = link.href;

                // Используем регулярное выражение для замены темы в URL
                const updatedHref = currentHref.replace(/styles\/[^/]+\.min\.css/, `styles/${currentTheme}.min.css`);

                // Обновляем href в элементе <link>
                link.href = updatedHref;
            }
        } catch (error) {
            console.warn('Error updating syntax theme:', error);
        }
    };

    // Первоначальная установка темы
    updateSyntaxTheme();

    // Следим за изменениями темы через Alpine.js
    Alpine.effect(() => {
        updateSyntaxTheme();
    });
});
</script>
{{ end }}

{{ if site.Params.imageZoomableInPost }}
  {{ if fileExists "layouts/partials/medium-zoom.html" }}
    {{ partialCached "medium-zoom.html" . }}
  {{ else }}
 
<!-- LightGallery CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-zoom.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-rotate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-fullscreen.min.css">

<!-- LightGallery JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/zoom/lg-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/rotate/lg-rotate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/fullscreen/lg-fullscreen.min.js"></script>

<!-- Vanilla Lazyload JS -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1/dist/lazyload.min.js"></script>

<style>
  .lg-sub-html {
    backdrop-filter: blur(16px);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const galleryContainer = document.querySelector("#dream-single-post-content");
    const images = galleryContainer?.querySelectorAll("img");

    if (galleryContainer && images?.length > 0) {
      galleryContainer.querySelectorAll("a.lg-item").forEach(el => el.remove());

      images.forEach(img => {
        if (!img.closest("a")) {
          const wrapper = document.createElement("a");
          wrapper.href = img.getAttribute("data-src") || img.src; 
          wrapper.classList.add("lg-item");

          const title = img.title ? `<h2 class="text-lg">${img.title}</h2>` : "";
          const alt = img.alt ? `<h1 class="text-2xl">${img.alt}</h1>` : "";
          wrapper.dataset.subHtml = `${alt}${title}`;

          // Настройка lazyload для изображений
          img.setAttribute("data-src", img.src); // Сохраняем оригинальный src в data-src
          img.removeAttribute("src"); // Удаляем src для lazyload
          img.classList.add("lazyload"); // Добавляем класс lazyload

          // Вставляем wrapper перед изображением и добавляем его обратно
          img.parentNode.insertBefore(wrapper, img);
          wrapper.appendChild(img);
        }
      });

      lightGallery(galleryContainer, {
        selector: "a.lg-item",
        plugins: [lgZoom, lgRotate, lgFullscreen],
        speed: 500,
        zoom: true,
        fullScreen: true,
        download: false,
        counter: true,
        mousewheel: true,
        zoomFromOrigin: true,
        scale: 1,
        rotate: true,
        hideControlOnEnd: false,
        closeOnTap: true,
        subHtmlSelectorRelative: true
      });

      const lazyLoadInstance = new LazyLoad({
        elements_selector: ".lazyload",
        threshold: 300, // Настройка порога видимости
      });
    }
  });
</script>

  {{ end }}
{{ end }}

{{ end }}