{{ define "title" }}
{{ i18n "portfolio.title" }}
{{ end }}

{{ define "main" }}

{{ if site.Params.portfolio }}
<!-- isotope -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const grid = document.querySelector(".dream-grid");
  const iso = new Isotope(grid, {
    itemSelector: ".dream-column",
    layoutMode: "fitRows",
  });

  const filterButtons = document.querySelectorAll(".filter-button");
  filterButtons.forEach((button) => {
    button.addEventListener("click", function () {
      const filterValue = button.getAttribute("data-filter");
      iso.arrange({ filter: filterValue });

      filterButtons.forEach((btn) => btn.setAttribute("data-state", "unchecked"));

      button.setAttribute("data-state", "checked");
    });
  });
});
</script>

<div class="container flex justify-between px-4 mt-4 mb-4">
  <div class="filters-button-group text-center my-4">
    <button 
      class="filter-button badge h-6 no-underline hover:badge-primary mr-2 data-checked:badge-primary" 
      data-filter="*" 
      data-state="checked">
	  {{ i18n "portfolio.all" }}
    </button>
    {{ $filters := slice }}
    {{ range (where site.RegularPages "Type" "portfolio") }}
      {{ with .Params.filters }}
        {{ range . }}
          {{ $filters = $filters | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ range uniq $filters }}
      <button 
        class="filter-button badge h-6 no-underline hover:badge-primary mr-2 data-checked:badge-primary" 
        data-filter=".{{ . }}" 
        data-state="unchecked">
        {{ . | humanize }}
      </button>
    {{ end }}
  </div>
</div>

  {{ if site.Params.zenMode }}
    <div class="dream-zen-posts max-w-[65ch] mt-8 mx-auto px-4 space-y-8">
      {{ range (where site.RegularPages "Type" "portfolio") }}
        {{ .Render "zen-summary" }}
      {{ end }}
    </div>
  {{ else }}
<div class="dream-grid">
  {{ range (where site.RegularPages "Type" "portfolio") }}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 dream-column {{ with .Params.filters }}{{ range . }}{{ . }} {{ end }}{{ end }}">
      {{ .Render "summary" }}
    </div>
  {{ end }}
</div>
  {{ end }}

{{ else }}
  <div class="text-center mt-8">
    <p>{{ i18n "portfolio.disabled" }}</p>
  </div>
{{ end }}

{{ end }}

{{ define "js" }}
  {{ if site.Params.Experimental.jsDate }}
    {{ partial "luxon.html" . }}
  {{ end }}
{{ end }}
