{{ define "title" }}
{{- T "search" -}}
{{ end }}

{{ define "main" }}

<div class="mt-8 lg:mt-12 px-4"
x-data="{
  search: '',
  get results() {
    return this.search !== '' ? window.fuse.search(this.search) : [];
  },
}">
  <!-- Поле поиска -->
  <label for="search" class="input input-bordered flex items-center gap-2">
    <input id="search" name="search" type="text" class="grow" placeholder="{{ T "search" }}" x-model.debounce="search" />
    <ion-icon name="search"></ion-icon>
  </label>

  <!-- Результаты поиска -->
  <div class="mt-8 space-y-4">
    <template x-for="result in results">
      <a class="card card-compact bg-base-100 hover:bg-base-content/10 cursor-pointer border border-base-content/30" :href="result.item.url">
        <div class="card-body">
          <h2 class="card-title" x-text="result.item.title"></h2>
          <div x-html="result.item.description"></div>
          <div class="card-actions justify-between items-center mt-4">
            <div class="flex items-center">
              <template x-if="result.item.avatar">
                <div class="avatar mr-1">
                  <div class="w-8 rounded-full">
                    <img class="my-0" :src="result.item.avatar" :alt="result.item.author" />
                  </div>
                </div>
              </template>
              <template x-if="!result.item.avatar">
                <span>@</span>
              </template>

              <template x-if="result.item.author">
                <span x-text="result.item.author"></span>
              </template>
              <template x-if="!result.item.author">
                <span>{{ site.Params.author }}</span>
              </template>
            </div>
            <div class="inline-flex items-center">
              <ion-icon name="time" class="mr-1"></ion-icon>
              <span><span x-text="result.item.readingTime"></span>{{ T "minuteRead" .ReadingTime }}</span>
            </div>
          </div>
        </div>
      </a>
    </template>
  </div>
</div>

{{ end }}

{{ define "js" }}

{{ $data := slice }}

<!-- Сбор данных из постов -->
{{ range (where site.RegularPages "Type" "posts") }}
{{ $data = $data | append (dict 
  "title" .Title 
  "url" .RelPermalink 
  "author" .Params.author 
  "avatar" .Params.avatar 
  "categories" .Params.categories 
  "tags" .Params.tags 
  "description" (.Summary | emojify | safeHTML) 
  "readingTime" .ReadingTime
) }}
{{ end }}

<!-- Сбор данных из портфолио -->
{{ range (where site.RegularPages "Type" "portfolio") }}
{{ $data = $data | append (dict 
  "title" .Title 
  "url" .RelPermalink 
  "author" .Params.author 
  "avatar" .Params.avatar 
  "description" (.Summary | emojify | safeHTML) 
  "readingTime" .ReadingTime
) }}
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js" integrity="sha256-42IbU8t3tOwwbexB7ZVRHm3YDRf65aBPPjRtIUufj5I=" crossorigin="anonymous"></script>
<script>
  var fuseData = {{ $data }};
  var fuseOptions = {
    keys: [
      "title",
      "description",
      "categories",
      "tags"
    ],
    includeMatches: true,
    threshold: 0.3
  };

  var fuse = new Fuse(fuseData, fuseOptions);
</script>

{{ end }}