{{ if site.Config.Services.Disqus.Shortname }}
<article>
  {{ partial "disqus.html" (dict "Context" . "Identifier" .RelPermalink) }}
</article>
{{ end }}

{{ if site.Params.utterancesRepo }}
<template x-if="['localhost', '127.0.0.1'].indexOf(window.location.hostname) == -1">
  <article>
    <script
      src="https://utteranc.es/client.js"
      repo="{{ site.Params.utterancesRepo }}"
      issue-term="og:title"
      theme="github-light"
      crossorigin="anonymous"
      async>
    </script>
  </article>
</template>
{{ end }}

{{ if site.Params.valine }}
<article>
{{ if fileExists "layouts/partials/valine.html" }}
  {{ partialCached "valine.html" . }}
{{ else }}
  <div id="vcomments"></div>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '{{ site.Params.LEANCLOUD_APP_ID }}',
      appKey: '{{ site.Params.LEANCLOUD_APP_KEY }}'
    })
  </script>
{{ end }}
</article>
{{ end }}

{{ if site.Params.waline }}
<article>
{{ if fileExists "layouts/partials/waline.html" }}
  {{ partialCached "waline.html" . }}
{{ else }}
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      dark: 'html.dark',
      serverURL: {{ site.Params.walineServer }},
    });
  </script>
{{ end }}
</article>
{{ end }}

{{ if site.Params.telegramComments }}
<article class="telegram_comments">
<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="{{ site.Params.telegramCommentsSiteID }}" data-limit="{{ site.Params.telegramCommentsLimit }}" data-colorful="1" data-color="1eb854" data-dark="1"></script>
</article>
<script>
document.addEventListener('alpine:initialized', () => {

    const updateTelegramTheme = () => {
        try {
		
            const isDark = Alpine.store('darkMode').isDark();

            const iframe = document.querySelector(".telegram_comments iframe");
            if (iframe) {
                let src = iframe.getAttribute("src");
                if (src) {
                    src = isDark 
                        ? src.replace("dark=0", "dark=1") 
                        : src.replace("dark=1", "dark=0");
                    iframe.setAttribute("src", src);
                }
            }
        } catch (error) {
            console.warn('Error updating telegram theme:', error);
        }
    };

    updateTelegramTheme();

    Alpine.effect(() => {
        updateTelegramTheme();
    });
});
</script>
{{ end }}